mcstatus
requests
Pillow
deepl
git+https://github.com/interactions-py/library.git@9ad859dc3b3e9facefc59743995bed301eb8ac48
git+https://github.com/Catalyst4222/interactions-tasks.git
interactions-files