interactions.py @ git+https://github.com/interactions-py/interactions.py.git@selects-in-modals # selects in modals not yet merged to main branch :(
python-dotenv
mcstatus
aiohttp
Pillow
deepl
validators
pandas
openpyxl
deepdiff
hachiko @ git+https://github.com/claudiopastorini/hachiko@fix-observer-positional-argument
pyyaml
aiosseclient